


.navbar{
    padding: 2rem;
    color: white;
    margin: 0;
    background-color: #1261A0;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.list-item{
    margin: 1rem;
}
.list-item:hover{
    cursor: pointer;
}
#userLogin{
    margin-left: auto;
}